header {
    padding: 0px 10px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#logo {
    width: 200px;
}

#logo img {
    max-width: 100%;
}

#navbar {
    margin-top: 25px;
}

#navbar a {
    font-family: 'Fira Code', monospace; 
    font-size: 0.9em;
    margin-left: 20px;
}

.pinkcolor {
    text-decoration: none;
    color: #C24B59;
}

.pinkcolor:hover{
    color: #5C97DB;
    text-decoration: underline;
}

.bluecolor {
    color: #5C97DB;
}

@media (min-width: 600px) and (max-width: 900px) {
    #navbar {
        margin-top: unset;
    }

    #menu {
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        padding: 0px 50px;
    }

    #navbar a {
        font-size: 0.9em;
    }
}

@media (min-width: 900px) {
    #navbar {
        margin-top: unset;
    }

    #menu {
        flex-direction: row;
        justify-content: space-between;
    }

    header {
        padding: 0px 150px;
    }

    #navbar a {
        font-size: 1em;
    }
}