body {
    background-image: url(./img/background.png);
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
code { font-family: 'Fira Code VF', monospace; }
}


#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 200px;
    margin-left: 60px;
}

#logo img {
    max-width: 100%;
}

#navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


#navbar a {
    text-decoration: none;
    font-family: 'Fira Code', monospace; 
    font-size: 19px;
    margin-left: 20px;
}

.pinkcolor {
    color: #C24B59;
}

.bluecolor {
    color: #5C97DB;
}

#homecontent {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#banner {
    width: 400px;
}

#hometitle, #hometitle2 {
    color: #313336;
    font-family: 'Fira Code', monospace; 
}

#home {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hometext {
    margin-top: 120px;
}

#homedescription {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}

#icons {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

#icons img {
    width: 6%;
    margin-left: 20px;
    margin-top: 10px;
}

#linkedin {
    color: #7690b0; 
}

#projects {
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Fira Code', monospace; 
}

#projects img {
    max-width: 600px;
}

.projectbox { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#aboutimage img {
    max-width: 400px;
}

#aboutme {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-top: 40px;
}

#aboutme p {
    max-width: 500px;
    font-family: 'Fira Code', monospace;
}

#aboutlink a {
    font-family: 'Fira Code', monospace;
    margin-right: 10px;
    
}

.firecode {
    font-family: 'Fira Code', monospace;
}

#contact {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px; 
}