body {
    background-image: url(./img/background.png);
}

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

code {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: 'Fira Code VF', monospace;
    }
}

* {
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat985.cur), auto !important;
}


#indexpage,
#projectpage,
#contactpage,
#aboutpage {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}




#homecontent {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#banner {
    width: 100%;
}

#hometitle,
#hometitle2 {
    color: #313336;
    font-family: 'Fira Code', monospace;
}

#hometitle {
    margin-bottom: 0px;
}

#hometitle2 {
    margin-top: 15px;
}

#home {
    width: 100%;
    display: flex;
    justify-content: center;
}

#hometext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    order: 1;
}

#homebanner {
    width: 100%;
    order: 0;
    margin: 50px 0;
}

#homedescription {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
}

#icons {
    display: flex;
    flex-direction: row;
}

#icons img {
    width: 6%;
    margin-left: 20px;
    margin-top: 10px;
}

#linkedin {
    color: #7690b0;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Code', monospace;
    width: 100%;
}

#projects img {
    max-width: 100%;
}

.projectbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

#aboutimage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutimage img {
    max-width: 400px;
}

#aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

#aboutme p {
    max-width: 500px;
    font-family: 'Fira Code', monospace;
}

#aboutlink a {
    font-family: 'Fira Code', monospace;
    margin-right: 10px;

}

#abouttext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.firecode {
    font-family: 'Fira Code', monospace;
}

#contact {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.projectlink {
    margin-top: 10px;
}

.contact_section {
    margin-bottom: 10px;
}


@media (min-width: 600px) and (max-width: 900px) {
    #hometext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        order: 0;
    }
    
    #homebanner {
        width: 50%;
        order: 1;
        margin: unset;
    }

    #indexpage {
        flex-direction: row;
    }

    #indexpage,
    #projectpage,
    #contactpage,
    #aboutpage {
        display: flex;
        padding: 0px 50px;
    }

    #aboutme {
        flex-direction: row;
    }

    #abouttext {
        margin-left: 35px;
    }
}

@media (min-width: 900px) {
    #hometext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        order: 0;
    }
    
    #homebanner {
        width: 50%;
        order: 1;
        margin: unset;
    }

    #indexpage {
        flex-direction: row;
    }

    #indexpage,
    #projectpage,
    #contactpage,
    #aboutpage {
        display: flex;
        padding: 0px 150px;
    }

    .projectbox {
        width: 48%;
    }

    .row {
        flex-direction: row;
    }

    #aboutme {
        flex-direction: row;
    }

    #abouttext {
        margin-left: 35px;
    }
}